{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style_formpage.css' %}"> 
    <title>Cadastro</title> 
</head>
<body>
    <header>
        <p>CONFECÇÕES S.A</p>
        <p>limeira - sp</p>
    </header>

    <section>
        <h1>Cadasto de Equipamentos</h1>
        <form method="post">
            {% csrf_token %}
            <div class="inputs">
                <label for="id">id:</label>
                <input type="text" id="id" name="id" required>
            </div>
            <div class="inputs">
                <label for="local">local:</label>
                <input type="text" id="local" name="local" required>
            </div>
            <div class="inputs">
                <label for="image">imagem: </label>
                <input type="file" id="imagem" name="imagem" required>
            </div>
            <button type="submit">cadastrar</button>
        </form>
    </section>

</body>
</html>